<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form method="POST">
        <label for="nickname">Nickname:</label><br>
        <input type="text" id="nickname" name="nickname"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="info">Info:</label><br>
        <input type="text" id="info" name="info"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>